body{
        text-align: center;
        align-content: center;
        justify-items: center;
        height: 100vh;
        background: linear-gradient(175deg, #4da2db, #9b59b6);
}
body {
    font-family: Arial, sans-serif;
    
    margin: 0;
    padding: 0;
}
#male{
    position: relative;
    top: 20px;

}
.male{
    position: relative;
    top: -20px;
    left: 33px;
}
.other{
    position: relative;
    top: -40px;
    left: 33px;
}
.female{
    position: relative;
    top: -40px;
    left: 40px;
}

#select{
    display:table;
}
.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#rate{
    width: 168px;
    height: 20px;
    border-radius: 4px;
    position: relative;
    left: -209px;

}
#rating{
    position: relative;
    font-size: 1.2rem;
    top: -4px;
    left: -224px;
}
#feedbackCategory{
    position: relative;
    left: -211px;
    font-size: 1.2rem;
}
label {
    display: block;
    margin-top: 10px;
}
input[type="radio"], input[type="text"], select, textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}